// Variables
$base-size: 1em;

// font
$base-font:'arial', sans-serif;

// font-weight
$bold:bold;
$semi-bold:700;
$regular:500;
$light:300;

// colors
$primary:red;
$secondary:red;
$white:#fff;
$black:#000;
$gray:#ccc;